USE [master]
GO
/****** Object:  Database [hms]    Script Date: 12-Aug-16 10:42:02 ******/
CREATE DATABASE [hms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\hms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\hms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hms]
GO
USE [hms]
GO
/****** Object:  Table [dbo].[Receptionist]    Script Date: 12-Aug-16 10:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](25) NOT NULL,
	[lName] [nvarchar](25) NOT NULL,
	[nic] [nvarchar](10) NOT NULL,
	[gender] [nchar](1) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[phone] [nvarchar](15) NULL,
	[address] [nvarchar](50) NULL,
	[password] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD  CONSTRAINT [chk_Gender] CHECK  (([gender]='m' OR [gender]='f'))
GO
ALTER TABLE [dbo].[Receptionist] CHECK CONSTRAINT [chk_Gender]
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD CHECK  ((len([phone])>=(10)))
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD CHECK  ((len([nic])>=(10)))
GO
USE [master]
GO
