<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="HMS.Properties.Settings.hmsConnectionString" connectionString="Data Source=R3831-3NVY\SQLEXPRESS;Initial Catalog=hms;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>